.skills_box{
    padding-top: 15%;
    color: #fff;
}
.skills_box > div{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.skills{
    display: flex;
    width: 90%;
    justify-content: space-around;
    background-color: #212121;
    flex-wrap: wrap;
}
.skill_box{
    padding: 3% 0;
    width: calc(100%/4);
}
.skill-icon{
    color: #4F4F4F;
}
.html-icon:hover{
    color: #E96228;
}
.css-icon:hover{
    color: #0081d1;
}
.js-icon:hover{
    color: #EFD81D;
}
.react-icon:hover{
    color: #61DAFB;
}
.skill-p{
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(218, 39, 167);
    margin-top: 1.5rem;
    transition: all 100ms ease 0ms;
}
.skill-p:hover{
    transition: all 100ms ease 0ms;
    letter-spacing: 5px;
}