.mockup{
    display: flex;
    justify-content:space-evenly;
    padding: 14% 0;
    align-items: center;
}
.mockup_h1{
    font-size: 3.0rem;
    font-weight: 500;
    color: #fff;
}
.mockup_span{
    font-size: 5.5rem;
    font-weight: 800;
}
.link-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 20%;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    padding: 12px 25px;
}
.link-btn-1{
    background-color: #f1b;
    border: 1px solid #f1b;
    transition: all 200ms ease 0s;
}
.link-btn-2{
    border: 1px solid #fff;
    transition: all 200ms ease 0s;
}
.link-btn-1:hover{
    box-shadow: #f1b 0px 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
}
.link-btn-2:hover{
    box-shadow: #fff 0px 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
}
.btn_image{
    width: 1.6rem;
    margin-right: 10%;
}
.mockup_image{transition: all 0.5s ease 0s;}
.mockup_image:hover{
    filter: drop-shadow(0px 0px 8px #c8c8c8); 
    transform: translateY(-1rem) scale(1.02);
}
@media (max-width:1024px){
    .mockup_texto{text-align: center;}
    .mockup_h1{font-size: 3.5rem;}
    .mockup_span{font-size: 6rem;}
    .link-btn{font-size: 1.8rem;}
    .btn_image{width: 1.8rem;}
    .mockup_image{display: none;}
}
@media (max-width:768px){
    .mockup{padding: 20% 0%;}
    .mockup_texto{text-align: center;}
    .mockup_h1{font-size: 2.5rem;}
    .mockup_span{font-size: 5rem;}
    .link-btn{font-size: 1.6rem;}
    .btn_image{width: 1.6rem;}
}
@media (max-width:480px){
    .mockup{padding: 30% 0%;}
    .mockup_h1{font-size: 2.0rem;}
    .mockup_span{font-size: 3.5rem;}
    .link-btn{font-size: 1.2rem;font-weight: 600;}
    .btn_image{display: none;}
}
@media (max-width:320px){
    .mockup_btn{
        flex-direction: column;

    }
    .link-btn-2{margin-top: 0;}
}