.mockup{
    display: flex;
    justify-content:space-evenly;
    padding: 14% 0;
    align-items: center;
}
.mockup_h1{
    font-size: 3.0rem;
    font-weight: 500;
    color: #fff;
}
.mockup_span{
    font-size: 5.5rem;
    font-weight: 800;
}
.link-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 20%;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    padding: 12px 25px;
}
.link-btn-1{
    background-color: #f1b;
    border: 1px solid #f1b;
    transition: all 200ms ease 0s;
}
.link-btn-2{
    border: 1px solid #fff;
    transition: all 200ms ease 0s;
}
.link-btn-1:hover{
    box-shadow: #f1b 0px 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
}
.link-btn-2:hover{
    box-shadow: #fff 0px 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
}
.btn_image{
    width: 2rem;
    margin-right: 10%;
}