.aboutMe-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 9% 14%;
}
.about_image{
    width: 30%;
    object-fit: scale-down;
}
.about_texto{
    width: 50%;
    color: #eee;
}
.about_h2{
    font-size: 6.0rem;
    margin-bottom: 4rem;
}
.about_h3{
    font-size: 2.6rem;
    text-align: justify;
}
.contacts{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.contacts > div{
    display: flex;
    width: 72%;
    justify-content: space-evenly;
    padding: 0 14%;
    background-color: #212121;
}
.contact{
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    padding: 3% 0;
}
.contact a{
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
}
.contact a:hover{
    color: #e235b1
}